.scroll-float {
  overflow: visible;
  display: block;
}

.scroll-float-text {
  display: inline-block;
  line-height: inherit;
}

.char {
  display: inline-block;
}

.word {
  display: inline-block;
  white-space: nowrap;
}

.char.space {
  white-space: pre;
}
